/* @import './css/cmps/app-header.css'; */
@import '../css/cmps/app-header.css';
@import '../css/apps/keep/keep-app.css';
@import './apps/mail/mail-app.css';
@font-face {
  font-family: fa;
  src: url('../../../fonts/font-awesome.otf');
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* HELPERS */
.flex-height-fit {
  display: flex;
  height: fit-content;
}
/* TEMP SHOULD NOT BE HERE */
ul li {
  list-style: none;
  margin: 0;
  padding: 0;
}
.edit-text-todo {
  width: 200px;
  height: fit-content;
}
