* {
  box-sizing: border-box;
}
.keep-header {
  display: flex;
  justify-content: flex-start;
  background: burlywood;
}
.search-bar {
  margin-inline-start: 40px;
  width: 300px;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
}
.search-bar input {
  width: 65%;
  border: none;
  outline: none;
}
.magnifying-glass::before {
  font-family: fa;
  content: '\f002';
}
