.in-note-control {
  display: flex;
}

.note .remove-note {
  align-self: flex-end;
}

.remove-note::before {
  font-family: fa;
  content: '\f1f8';
}

.remove-note {
  display: flex;
  justify-content: flex-end;
}
