/* home-page */

.home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.home-page img {
    max-width: 300px;
}

.home-page p {
    font-weight: bold;
    background-color: #FEF8C6;
    border: 5px solid #ffec5c;
}


/* about-page */

.about-page {
    margin: 50px auto;
    max-width: 50%;
    text-align: center;
}

.about-page p {
    font-weight: bold;
    background-color: #fffef7;
}

.about-page h3 {
    margin: 10px;
    color: darkgray;
}


/* book-app */

.book-app {
    height: 90vh;
    display: flex;
    flex-direction: column;
}

.book-app .book-filter {
    text-align: center;
}


/* header */

.app-header {
    background-color: #FEF8C6;
    height: 120px;
    text-align: center;
}

.app-header h1 {
    color: #FCE992;
    padding-block-start: 20px;
    text-shadow: 0px -1px 10px #727480;
}

.app-header nav {
    margin: 15px auto;
    margin-block-end: 10px;
    width: fit-content;
    padding: 10px 20px;
    border: 1px solid rgb(255, 237, 180);
}

.app-header a {
    text-decoration: none;
    margin: 20px;
    color: rgb(214, 214, 214);
}

.app-header a:hover {
    color: rgb(197, 197, 197);
}


/* filter */

.book-filter {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    border: 1px solid #FDF0AC;
}

.book-filter * {
    text-align: center;
    align-self: center;
    margin: 10px;
}


/* details */

.book-details {
    padding: 20px;
    margin: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    position: relative;
}

.book-details * {
    margin: 10px;
}

.book-details ul {
    margin-inline-end: 3em;
}

.book-details img {
    max-width: 150px;
    margin: auto;
}

.details-btn {
    margin: auto;
    width: fit-content;
    background-color: #FEF8C6;
    margin-block-end: 20px;
}

.back-btn {
    text-decoration: none;
    color: #FCE992;
    font-weight: bold;
    padding: 2px;
    margin: 20px;
    position: absolute;
    right: 0;
    top: 0;
}

.back-btn:hover {
    color: #ffe053;
}

.red-price {
    color: red;
}

.green-price {
    color: chartreuse;
}


/* review */

.review-add {
    display: flex;
    flex-direction: column;
    background-color: #FFFFE0;
}

.review-add button {
    margin-block-start: 20px;
}


/* show-review */

.show-review {
    margin: auto;
    width: fit-content;
    background-color: #FFFFE0;
}

.show-review button {
    background-color: #FDF0AC;
}


/* edit */

.book-edit {
    background-color: #FDF0AC;
    padding: 20px;
}


/* list */

.book-list {
    margin: 50px;
    list-style: none;
    padding-block-end: 50px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
}


/* preview */

.book-preview-container {
    display: flex;
    cursor: default;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 10px;
    box-shadow: 0px 0px 3px 0px #fdeb91
}

.book-preview-container:hover {
    box-shadow: 0px 0px 20px 0px #fdeb91
}

.book-preview-container * {
    margin: 5px;
}

.book-preview-container img {
    max-width: 50px;
}

.book-preview-container a {
    width: fit-content;
    align-self: center;
    text-decoration: none;
    color: black;
    padding: 2.5px 5px;
    background-color: #FFFFE0;
    border: 1px solid rgb(219, 219, 219);
}

.book-preview-container a:hover {
    background-color: #FEF8C6;
}


/* user-msg */

.user-msg {
    max-width: 30%;
    margin: auto;
    position: sticky;
    top: 40px;
    right: 0;
    padding: 10px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    text-align: center;
    text-decoration: none;
}

.user-msg a {
    text-decoration: none;
}

.user-msg button {
    position: absolute;
    right: 0;
    top: 0;
    margin: 2px;
    padding: 1px;
    font-size: 1em;
}

.success {
    background-color: greenyellow;
}

.error {
    background-color: red;
}


/* book-add */

.book-add {
    margin: 15px;
    width: 100%;
    flex-wrap: wrap;
}

.book-add button {
    background-color: rgb(252, 235, 141);
    margin-inline-start: 20px;
    align-self: center;
    border: 0;
    font-size: 0.8rem;
    height: 25px;
    padding: 5px 10px;
}

.book-add ul {
    margin: 30px auto;
}

.book-add li {
    display: flex;
    justify-content: center;
    margin-block-end: 20px;
    border-bottom: 1px solid rgb(235, 255, 148);
}

.book-add li button {
    border-radius: 50%;
    font-weight: bold;
}

.book-add button:hover {
    background-color: gold;
}


/* pages */

.pages {
    display: flex;
    justify-content: space-between;
}

.pages * {
    color: black;
    text-decoration: none;
}

.pages a:hover {
    color: rgb(71, 71, 71)
}