@import 'cmps.css';
@import 'cmps/top-bar.css';
@import 'cmps/side-bar.css';
@import 'cmps/email-preview.css';
@import 'cmps/email-details.css';
@import 'cmps/email-compose.css';
.email-app {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 60px 1fr;
}

.top-bar {
    grid-column-start: 1;
    grid-column-end: span 2;
}

.side-bar {
    grid-column-start: 1;
    grid-column-end: span 2;
    grid-row-start: 2;
    grid-row-end: span 2;
}

.email-list {
    grid-column-start: 2;
    grid-row-start: 2;
}

@media (max-width: 1250px) {
    html {
        font-size: 14px;
    }
}

@media (max-width: 860px) {
    html {
        font-size: 12px;
    }
    .email-list {
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 2;
        gap: 0;
    }
}