.home-page {
    text-align: center;
    margin: 50px;
}

.home-page h1 {
    margin: 50px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
    color: lightblue;
    text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0, 0, 0, 0.15);
}

@media (max-width: 860px) {
    .home-page img {
        max-width: 300px;
    }
}