a {
    text-decoration: none
}

.email-preview {
    font-family: Arial;
    margin-inline-end: 10px;
    margin-inline-start: 10px;
    cursor: pointer;
    color: rgb(82, 82, 82);
    padding: 4px;
    border-bottom: 1px solid rgb(211, 211, 211);
    display: grid;
    grid-template-columns: min-content 160px 180px minmax(0, 500px) min-content min-content;
    gap: 70px;
    align-items: center;
}

.email-preview:hover {
    z-index: 1;
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.37);
}

.starred {
    color: gold;
}

.star:hover {
    background-color: rgb(212, 212, 212);
    border-radius: 50%;
}

@media (max-width: 1250px) {
    html {
        font-size: 14px;
    }
    .email-preview {
        grid-template-columns: min-content auto auto minmax(0, 500px) min-content min-content;
        gap: 40px
    }
}

@media (max-width: 860px) {
    .email-preview {
        max-width: 860px;
        display: flex;
        justify-content: space-between;
    }
    .column {
        display: flex;
        flex-direction: column;
    }
}