.compose-email {
    width: 450px;
    height: 450px;
    background-color: white;
    border: 1px solid darkgray;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 5px 16px 0px #010203, -3px 0px 3px 10px rgba(0, 0, 0, 0);
}

.compose-email * {
    font-family: Arial, Helvetica, sans-serif;
}

.compose-email h1 {
    margin-block-end: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

.compose-email button {
    border: 0;
    background-color: white;
    cursor: pointer;
    padding: 10px 20px;
}

.compose-email button:hover {
    box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.37);
}

.compose-email form {
    align-self: center;
    max-width: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-block-start: 50px;
    text-align: center;
}

.compose-email form button {
    align-self: center;
    box-shadow: 0 1px 2px 0 #ea4335, 0 1px 3px 1px #ea4335;
    color: #ea4335;
}

.compose-email textarea {
    resize: none;
}

.compose-email-buttons {
    display: flex;
    justify-content: space-between;
    margin: 40px;
}

.compose-email-buttons {
    display: flex;
    justify-content: space-between;
    margin: 40px;
}

.compose-email-buttons *:first-child {
    box-shadow: 0 1px 2px 0 #4285f4, 0 1px 3px 1px #4285f4;
    color: #4285f4
}

.compose-email-buttons *:last-child {
    box-shadow: 0 1px 2px 0 #34a852, 0 1px 3px 1px #34a852;
    color: #34a852
}

.compose-email h5 {
    color: rgb(255, 0, 0);
    position: absolute;
    bottom: 4em;
    margin-inline-start: 0.2em;
}

.compose-background {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.1;
    cursor: pointer;
}