.top-bar {
    display: flex;
    position: sticky;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    border-bottom: 1px solid lightgray;
    padding-block-end: 10px;
    margin-block-end: 5px;
}

.search-input {
    width: 40%;
    padding: 5px;
    padding-inline-start: 10px;
    line-height: 1.9rem;
    background-color: whitesmoke;
    border: 0;
    border-radius: 10px;
    margin-inline-end: 4rem;
}

.top-bar .logo {
    font-family: sans-serif;
    font-weight: lighter;
    display: flex;
    font-size: 1.7rem;
    margin-inline-end: 100px;
    color: darkgray;
    cursor: default;
}

.logo img {
    margin-inline-end: 20px;
    margin-inline-start: 10px;
    max-width: 40px;
    grid-area: "top-bar";
}

.sorting {
    margin-inline-start: 15rem;
}