.main-note-controls {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  margin-top: 20px;
  flex: 1;
}
.main-note-form {
  background-color: green;
  border-radius: 5px;
}

.main-note-form textarea {
  resize: none;
  width: 100%;
}
.main-note-form input {
  width: 100%;
}


.controls-container {
  display: flex;
}
.controls-container > * {
  margin: 5px;
}