.note-edit-container {
  position: absolute;
  width: 300 px;
  height: 300 px;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  display: flex;
  flex-direction: column;
}
.note-edit-container form {
  display: flex;
  flex-direction: column;
}
.note-edit-container img {
  width: 100%;
  height: 100%;
}
.note-edit-container form textarea {
  resize: none;
}
.note-edit-container button {
  width: 80px;
  align-self: center;
}
